# Variables

A variable is a location in memory used to store some data (value).

They are given unique names to differentiate between different memory locations. The rules for writing a variable name is same as the rules for writing identifiers in Python.

We don't need to declare a variable before using it. In Python, we simply assign a value to a variable and it will exist. We don't even have to declare the type of the variable. This is handled internally according to the type of value we assign to the variable.

# Variable Assignments

In [1]:
#We use the assignment operator (=) to assign values to a variable

a = 10
b = 5.5
c = "L"

# Multiple Assignments

In [ ]:
a, b, c = 10, 5.5, "ML"

In [ ]:
a = b = c = "AI" #assign the same value to multiple variables at once

# Storage Locations

In [2]:
x = 3

print(id(x))               #print address of variable x

140730955440592

In [3]:
y = 3

print(id(y))               #print address of variable y

140730955440592

Observation:

x and y points to same memory location

In [4]:
y = 2
print(id(y))               #print address of variable y

140730955440560

# Data Types

Every value in Python has a datatype. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

# Numbers

Integers, floating point numbers and complex numbers falls under Python numbers category. They are defined as int, float and complex class in Python.

We can use the type() function to know which class a variable or a value belongs to and the isinstance() function to check if an object belongs to a particular class.

In [5]:
a = 5                               #data type is implicitly set to integer
print(a, " is of type", type(a))

5  is of type <class 'int'>

In [6]:
a = 2.5                            #data type is changed to float
print(a, " is of type", type(a))

2.5  is of type <class 'float'>

In [7]:
a = 1 + 2j                          #data type is changed to complex number
print(a, " is complex number?") 
print(isinstance(1+2j, complex))

(1+2j)  is complex number?
True

# Boolean

 Boolean represents the truth values False and True

In [8]:
a = True                          #a is a boolean type
print(type(a))

<class 'bool'>

# Python Strings

String is sequence of Unicode characters. 

We can use single quotes or double quotes to represent strings. 

Multi-line strings can be denoted using triple quotes, ''' or """.

A string in Python consists of a series or sequence of characters - letters, numbers, and special characters. 

Strings can be indexed - often synonymously called subscripted as well. 

Similar to C, the first character of a string has the index 0.

In [9]:
s = "This is a data science course"
print(s)

This is a data science course

In [13]:
print(s[-2])
#last char s[len(s)-1] or s[-1]

s

In [15]:
#slicing
s[5:]

'is a data science course'

# Python List

List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. All the items in a list do not need to be of the same type.

Declaring a list is , Items separated by commas are enclosed within brackets [ ].

In [17]:
a = [10, 20.5, "Hello"]
print(a[1])               #print 1st index element

20.5

Lists are mutable, meaning, value of elements of a list can be altered.

In [18]:
a[1] = 30.7
print(a)

[10, 30.7, 'Hello']

In [19]:
#Creating lists
my_list = [1, "Hello", 3.4, 0, "World"]
my_nested_list = [['Hello', 'World'],[47,39]]

#Accessing lists

In [20]:
my_list[1] # Hello

'Hello'

In [21]:
my_list[-2] # 0

0

In [22]:
my_list[:3] # [1, "Hello", 3.4]

[1, 'Hello', 3.4]

In [23]:
my_nested_list[1] #[47,39]

[47, 39]

In [24]:
my_nested_list[0][1] # World

'World'

# Python Tuple

Tuple is an ordered sequence of items same as list.The only difference is that tuples are immutable. Tuples once created cannot be modified.

In [25]:
# A tuple is a sequence of immutable Python objects. Tuples are
# sequences, just like lists. The differences between tuples
# and lists are, the tuples cannot be changed unlike lists and
# tuples use parentheses, whereas lists use square brackets.
tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = "a", "b", "c", "d";

# To access values in tuple, use the square brackets for
# slicing along with the index or indices to obtain value
# available at that index.
tup1[0] # Output: 'physics'

'physics'

In [26]:
t = (1, 1.5, "data")

In [28]:
print(t[0]) #extract particular element

1

In [29]:
t[1] = 1.25

TypeError: 'tuple' object does not support item assignment

# Python Set

Set is an unordered collection of unique items. Set is defined by values separated by comma inside braces { }. Items in a set are not ordered.

In [30]:
set_example = {1, 2, 3, 4, 5, 5, 5}

print(set_example) #### Does not print repetitions

{1, 2, 3, 4, 5}

In [31]:
a = {10, 30, 20, 40, 5}
print(a)

{5, 40, 10, 20, 30}

In [32]:
print(type(a))             #print type of a

<class 'set'>

We can perform set operations like union, intersection on two sets. Set have unique values.

In [33]:
s = {10, 20, 20, 30, 30, 30}
print(s)                    #automatically set won't consider duplicate elements

{10, 20, 30}

In [34]:
print(s[1]) #we can't print particular element in set because 
            #it's unorder collections of items

TypeError: 'set' object is not subscriptable

# Python Dictionary

Dictionary is an unordered collection of key-value pairs.

In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and value can be of any type.

In [35]:
#Creating dictionaries
dict1 = {'color': 'blue', 'shape': 'square', 'volume':40}
dict2 = {'color': 'red', 'edges': 4, 'perimeter':15}

#Creating new pairs and updating old ones
dict1['area'] = 25 #{'color': 'blue', 'shape': 'square', 'volume': 40, 'area': 25}
dict2['perimeter'] = 20 #{'color': 'red', 'edges': 4, 'perimeter': 20}

#Accessing values through keys
print(dict1['shape'])

square

In [36]:
print(dict2['color'])

red

In [38]:
d = {'a': "apple", 'b': "bat"}
print (d['a'])

apple

# Conversion between Datatypes

We can convert between different data types by using different type conversion functions like int(), float(), str() etc.

In [39]:
float(5)     #convert interger to float using float() method

5.0

In [40]:
int(100.5)   #convert float to integer using int() method

100

In [41]:
str(20)      #convert integer to string

'20'

Conversion to and from string must contain compatible values.

In [43]:
int('10')

10

In [46]:
user = "abc"
lines = 100

print("Congratulations, " + user + "! You just wrote " + str(lines) + " lines of code" )
#remove str and gives error

Congratulations, abc! You just wrote 100 lines of code

We can convert one sequence to other

In [47]:
a = [1, 2, 3]

print(type(a))      #type of a is list 

s = set(a)          #convert list to set using set() method

print(type(s))      #now type of s is set

<class 'list'>
<class 'set'>

In [48]:
list("Hello")       #convert String to list using list() method

['H', 'e', 'l', 'l', 'o']